extends layout/layout.pug
include mixins/header.pug

block title
    title О нас
block style
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
    link(rel='stylesheet' href='css/about.css')
block content

    header.site-header
        .container.site-header__container
            .header-logo
                a(href="/")
                    img(src="/img/logotips/agrohim.png", alt="AgroHimProgress")
            +header('/about.html')
            a(href="tel:87182333929").site-menu__link 8 (7182) 333-929
            button.mobile-menu-btn
                span
                span
                span
    main.about
        .container
            section.wrapper
                h1.def-semi-title О нас
                section.about-block.twosides__butterfly
                    #aboutScroll.about-text
                        h2.about-text__title
                            span Агрохимпрогресс
                            br
                            | в 
                            span.thin-txt 100 
                            span словах
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid sint, amet aspernatur accusantium atque unde ea sapiente modi repellat? Assumenda cumque culpa sunt error laudantium dolores doloribus nisi distinctio qui!Blanditiis facilis velit quisquam repellat assumenda possimus corporis? Unde quaerat consequatur magni nobis velit maxime pariatur, assumenda numquam odit temporibus facilis sapiente aliquid obcaecati ut fuga? Ad cupiditate doloribus reiciendis.Ipsam cum amet ad iste accusamus voluptatibus, atque quod, officiis sed dolore distinctio! Sequi ratione ut sunt suscipit explicabo laudantium minima sed quis cupiditate quaerat, assumenda quod amet ad culpa.Delectus voluptas vero fugit modi quidem quibusdam eveniet eius rem officia beatae maiores, esse, tempore iure, aspernatur et. Obcaecati rem dolorum, illum vero eos voluptatem. Reiciendis eaque veritatis non quis?Inventore illo, repudiandae dolores fuga magnam exercitationem dolor non ab placeat quae, veritatis laborum molestiae necessitatibus sint praesentium quisquam cumque? Provident, ea cumque. Praesentium autem deserunt ullam? Quia, maiores ipsa!Laborum, labore nobis eligendi earum velit officiis cumque incidunt blanditiis, laudantium, voluptate dolores iste ipsum deserunt optio omnis quibusdam praesentium sed in error ex quam architecto beatae. Nobis, sed dolores?Illo nihil cumque quod fugiat aut voluptatum quam cupiditate maiores corporis quidem exercitationem, aliquam ipsum. Nulla ullam corrupti soluta unde dolorum, eos esse accusantium corporis perferendis, suscipit ut voluptatum non.Incidunt neque, accusantium, eos architecto ipsam autem suscipit aperiam magni fuga cumque maxime labore? Totam quas mollitia doloribus alias illo necessitatibus odio id, unde laboriosam culpa labore explicabo quae? Ipsam?Nisi perspiciatis dignissimos repellat, quis hic dolor eos, quibusdam reprehenderit, aliquid neque aspernatur beatae? Nemo cum obcaecati cumque quidem ex veniam quis, aspernatur, asperiores minima, neque dolorem quibusdam recusandae doloremque.Neque totam quisquam enim eius, deleniti cumque. Error numquam deserunt cumque sit quasi aspernatur, aliquid saepe distinctio quam tempore qui? Esse repellendus non iste debitis exercitationem dolore tempora labore repellat.Blanditiis earum, eos consequatur quas fuga non corrupti. Error veniam aut ex cumque vero nostrum nulla quidem, ipsum, harum aperiam, unde commodi ipsam perferendis ducimus. Ea quidem ex earum nesciunt.Praesentium excepturi minima voluptatem tempora eos aliquam, impedit beatae perspiciatis sequi aperiam quasi blanditiis. Nihil quis quibusdam assumenda soluta quo, iusto numquam veritatis. Rerum doloremque, qui aspernatur at explicabo perferendis!Odit in laboriosam dignissimos id at pariatur eius adipisci magnam, commodi optio similique fugiat minima ullam vitae labore omnis inventore totam quae sequi quas doloribus ex nostrum reprehenderit molestias. Inventore?Quod assumenda unde at culpa voluptatibus incidunt asperiores mollitia atque tenetur dolor repudiandae fugit veniam, eos illo iure nobis optio minus aut deserunt dolorum itaque velit cum. Sit, tenetur pariatur!Vitae repellendus iure veniam eligendi ex ab maiores consequuntur id sint eum unde ratione sed earum dolore debitis eaque sequi iste alias dolorem provident dolores, dolor laborum. Pariatur, voluptates assumenda!Suscipit debitis, ipsam nobis soluta iusto voluptas facere eius eum consectetur nostrum eos. Possimus accusamus dolores sapiente natus optio nobis nostrum distinctio corrupti omnis ipsa, illo ab repellat dignissimos officiis?Tempore aliquid illo animi quisquam facere quis nam. Quis vel officia repellat laborum architecto est molestias sed, sint in illum pariatur soluta corrupti mollitia natus rerum velit sit et saepe!Cum error ab exercitationem, recusandae laborum commodi reprehenderit hic? Vel vero, consequuntur perspiciatis adipisci repellat sint corrupti voluptatem ex quae, aliquid expedita, odio harum labore repellat itaque suscipit, minima velit necessitatibus ut ex natus? Fugiat tempore cupiditate ex rem exercitationem possimus amet, voluptate maxime sequi omnis aliquam expedita!Saepe, culpa dolores! Esse ducimus quia, quisquam reprehenderit libero natus? Optio magni voluptas magnam totam quia amet eos dolorem. Quam unde voluptate eum veniam, accusantium adipisci mollitia neque dolorem quibusdam.Sed reiciendis asperiores incidunt suscipit perferendis officiis quam laudantium excepturi quibusdam voluptatem! Natus expedita laudantium deleniti nihil ex recusandae, vel neque maiores consequatur odio reiciendis ratione fugit! Ducimus, eius asperiores!
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, aliquam.
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi atque porro ad magnam voluptatum, vero, iure consequuntur doloremque aut nam, laudantium sapiente quia placeat dolor et error tempora quasi quam doloribus quis impedit. Corporis dolorum maxime amet sit fugit. Ut.
                    .about-block__slider.swiper-container
                        .swiper-wrapper
                            a.swiper-slide(href='img/about/about-block/ab.png' data-fancybox='gallery1')
                                img.imgByVova.lazy(data-src='img/about/about-block/ab.png' alt='[[*pagetitle]]')
                            a.swiper-slide(href='img/about/about-block/ab.png' data-fancybox='gallery1')
                                img.imgByVova.lazy(src='img/about/about-block/ab.png' alt='[[*pagetitle]]')
                            a.swiper-slide(href='img/about/about-block/ab.png' data-fancybox='gallery1')
                                img.imgByVova.lazy(data-src='img/about/about-block/ab.png' alt='[[*pagetitle]]')
                        .def-slider-controls.about-block-controls
                            .def-slider-prev.about-block-prev
                            .def-slider-pagination.about-block-pagination
                            .def-slider-next.about-block-next
            section.sertificates.twosides__butterfly
                h2.def-semi-title.header_news-title Сертификаты
                .sertificate-slider.reverse-controls.swiper-container
                    .swiper-wrapper
                        a.swiper-slide(href='img/about/sert/cert.png' data-fancybox='gallery2')
                            img.imgByVova.lazy(data-src='img/about/sert/cert.png' alt='[[*pagetitle]]')
                        a.swiper-slide(href='img/about/sert/cert.png' data-fancybox='gallery2')
                            img.imgByVova.lazy(data-src='img/about/sert/cert.png' alt='[[*pagetitle]]')
                        a.swiper-slide(href='img/about/sert/cert.png' data-fancybox='gallery2')
                            img.imgByVova.lazy(data-src='img/about/sert/cert.png' alt='[[*pagetitle]]')
                    .def-slider-controls.sert-block-controls
                        .def-slider-prev.sert-block-prev
                        .def-slider-pagination.sert-block-pagination
                        .def-slider-next.sert-block-next
            section.clients.twosides__butterfly
                h3.def-semi-title.header_news-title &Ncy;&acy;&mcy; &dcy;&ocy;&vcy;&iecy;&rcy;&yacy;&yucy;&tcy;
                .clients-slider.reverse-controls.swiper-container
                    .swiper-wrapper
                        a.swiper-slide(href='img/about/clients/client.png' data-fancybox='gallery3')
                            img.imgByVova.lazy(data-src='img/about/clients/client.png' alt='[[*pagetitle]]')
                        a.swiper-slide(href='img/about/clients/client.png' data-fancybox='gallery3')
                            img.imgByVova.lazy(data-src='img/about/clients/client.png' alt='[[*pagetitle]]')
                        a.swiper-slide(href='img/about/clients/client.png' data-fancybox='gallery3')
                            img.imgByVova.lazy(data-src='img/about/clients/client.png' alt='[[*pagetitle]]')
                        a.swiper-slide(href='img/about/clients/client.png' data-fancybox='gallery3')
                            img.imgByVova.lazy(data-src='img/about/clients/client.png' alt='[[*pagetitle]]')
                    .def-slider-controls.clients-block-controls
                        .def-slider-prev.clients-block-prev
                        .def-slider-pagination.clients-block-pagination
                        .def-slider-next.clients-block-next
            section.reviews.twosides__butterfly
                h3.def-semi-title.header_news-title &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                .reviews-slider.reverse-controls.swiper-container
                    .swiper-wrapper
                        a.swiper-slide(href='img/about/sert/cert.png' data-fancybox='gallery2')
                            img.imgByVova.lazy(data-src='img/about/sert/cert.png' alt='[[*pagetitle]]')
                        a.swiper-slide(href='img/about/sert/cert.png' data-fancybox='gallery2')
                            img.imgByVova.lazy(data-src='img/about/sert/cert.png' alt='[[*pagetitle]]')
                        a.swiper-slide(href='img/about/sert/cert.png' data-fancybox='gallery2')
                            img.imgByVova.lazy(data-src='img/about/sert/cert.png' alt='[[*pagetitle]]')
                    .def-slider-controls.reviews-block-controls
                        .def-slider-prev.reviews-block-prev
                        .def-slider-pagination.reviews-block-pagination
                        .def-slider-next.reviews-block-next
    footer.footer-site
        .container.flex-between
            .copy
                .footer-logo
                    img(src="/img/logotips/agrohim.png", alt="АгроХимПрогресс")
                span.copy-text Все права защищены
            .designed
                a(href="https://globalm.kz")
                    img(src="/img/logotips/gm.png", alt="GlobalMedia")
block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
    script(src='/js/about.js')
