extends layout/layout.pug
include mixins/header.pug

block title
    title Главная
block style
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.css")
    link(rel="stylesheet", href="/css/index.css")
block content
    .section
        header.site-header
            .container.site-header__container
                .header-logo
                    a(href="/")
                        img(src="/img/logotips/agrohim.png", alt="AgroHimProgress")
                +header('/')
                a(href="tel:87182333929").site-menu__link 8 (7182) 333-929
                button.mobile-menu-btn
                    span
                    span
                    span
        .main-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="/img/main-slider/one.jpg", alt="slide")
                    .container.container_slide
                        .slide-content
                            .slide-content__sub Средства защиты растений для сельского хозяйства
                            .slide-content__promo Агрохим Прогресс
                            .slide-content__sub Собственное производство на рынке пестицидов с 2004 года
                            div.slide-btns
                                a.main-btn.slide-btn.bounce-in(href="") Скачать прайс
                                a.main-btn.slide-btn.decorated-btn.bounce-in(href="")
                                    b Смотреть фото
                                    span.small-txt с производства
                .swiper-slide
                    img(src="/img/main-slider/one.jpg", alt="slide")
                    .container.container_slide
                        .slide-content
                            .slide-content__sub Собственное производство на рынке пестицидов с 2004 года
                            .slide-content__promo Агрохим Прогресс
                            .slide-content__sub Средства защиты растений для сельского хозяйства
                            div.slide-btns
                                a.main-btn.slide-btn.bounce-in(href="") Скачать прайс
                                a.main-btn.slide-btn.decorated-btn.bounce-in(href="")
                                    b Смотреть фото
                                    span.small-txt с производства
    .products-section.section
        .container
            .products-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide.product-slide
                        .product-slide-col
                            h3.product-slide__title Собственное производство
                            .product-slide-reserve
                        .product-slide__img
                            img(src="/img/products/product1.png", alt="Праймур")
                        .product-slide__desc
                            .product-name Праймур
                            a.second-btn.bounce-in(href="") Подробнее о товаре
                    .swiper-slide.product-slide
                        .product-slide-col
                            h3.product-slide__title Собственное производство1
                            .product-slide-reserve
                        .product-slide__img
                            img(src="https://myfarbe.ru/upload/iblock/9b0/9b0c20ddd752ec878a552ceadc0cb696.png", alt="Праймур")
                        .product-slide__desc
                            .product-name Праймур
                            a.second-btn.bounce-in(href="") Подробнее о товаре
                .products-slider-controls
                    .products-slider-prev
                    .products-slider-pagination
                    .products-slider-next
    .catalog-block.section
        .container
            ul.catalog-list
                li
                    a.catalog-item(href="")
                        span Зерновые
                        img(src="/img/products/1.jpg", alt="продукт")
                li
                    a.catalog-item(href="")
                        span Зернобобовые
                        img(src="/img/products/2.jpg", alt="продукт")
                li
                    a.catalog-item(href="")
                        span Масличные
                        img(src="/img/products/3.jpg", alt="продукт")
                li
                    a.catalog-item(href="")
                        span Овощные
                        img(src="/img/products/4.jpg", alt="продукт")
            a.main-btn.bounce-in(href="/products.html") перейти в каталог
    .about-block.section
        .container
            .about-video
                video#player(src="http://techslides.com/demos/sample-videos/small.mp4")
            .about-text#aboutScroll
                h2.about-text__title
                    span Агрохимпрогресс
                    br
                    | в 
                    span.thin-txt 100 
                    span словах

                p Наша компания представлена на рынке пестицидов с 2004 года. Мы являемся отечественным товаропроизводителем, что позволяет нам предлагать наиболее интересную цену,нежели зарубежные фирмы. За эти годы успели зарекомендовать себя как надежного производителя и поставщика химических средств защиты растений. Мы дорожим своей репутацией, поэтому качество оказываемых услуг товаров всегда остается высоким. Из года в год, мы увеличиваем ассортимент продукции исходя из потребностей рынка. Предлагаем широкий ассортимент гербицидов для предпосевной и послевсходовой обработки земель, а так же инсектициды и фунгициды. К Вашим услугам консультация нашего агронома и возможность выезда специалиста для детального изучения поля и рекомендации по применению всей линейки наших препаратов.
    .benefits-block.section
        .container.flex-center
            .benefits-center-image
                img(src="/img/logotips/logoWOsh.png", alt="АгрохимПрогресс")
            .circle.circle_1
                span.circle-label.circle-label_top(data-txt="Доставка по всему Казахстану и России")
                span.circle-label.circle-label_bottom(data-txt="Всегда лучшее качество")
                .circle.circle_2
                    span.circle-label.circle-label_left(data-txt="Лучшие цены")
                    span.circle-label.circle-label_right(data-txt="Собственное производство")
                    .circle.circle_3
                        span.circle-label.circle-label_top(data-txt="С 2004 года на рынке пестицидов")
                        span.circle-label.circle-label_bottom(data-txt="Индивидуальный подход к каждому клиенту")
    .section
        .feedback-block
            .container
                .feedback-form
                    h2.feedback-form__title Оставьте заявку
                    .feedback-form__subtitle и мы подберем препарат для вашего поля
                    button.main-btn.bounce-in#popup-form-btn Оставить заявку
        footer.footer-site
            .container.flex-between
                .copy
                    .footer-logo
                        img(src="/img/logotips/agrohim.png", alt="АгроХимПрогресс")
                    span.copy-text Все права защищены
                .designed
                    a(href="https://globalm.kz")
                        img(src="/img/logotips/gm.png", alt="GlobalMedia")
    .popup-form-overlay
        form.popup-form(action="")
            .popup-form__title Оставьте заявку и мы свяжемся с вами
            input.popup-form__input(type="text" name="name" placeholder="Имя")
            input.popup-form__input(type="tel" name="phone" placeholder="Номер телефона")
            input.popup-form__input(type="hidden" name="theme" value="Заявка с главной страницы")
            textarea.popup-form__input(name="text" placeholder="Сообщение")
            button.popup-form__close-btn(type="reset")
            button.main-btn.bounce-in Отправить

block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.js")
    script(src="/js/index.js")
