extends layout/layout.pug
include mixins/header.pug

block title
    title Главная
block style
    link(rel="stylesheet", href="/css/news.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
block content
    header.site-header
        .container.site-header__container
            .header-logo
                a(href="/")
                    img(src="/img/logotips/agrohim.png", alt="AgroHimProgress")
            +header('/news.html')
            a(href="tel:87182333929").site-menu__link 8 (7182) 333-929
            button.mobile-menu-btn
                span
                span
                span

    main.news
      .container.grey-bg
        .news-wrapper
          h1.def-semi-title.header_news-title Новости
          ul.news-list
            li.single-news
              a.news-img__wrapper(href='img/news/news.png', data-fancybox='gallery1')
                img.imgByVova(src='img/news/news.png', alt='[[+pagetitle]]')
                span.news-pubdate 14.12.2019
              .news-description
                h3.news-title Заголовок статьи
                .news-desc
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.read_more Подробнее
            li.single-news
              a.news-img__wrapper(href='img/news/news.png', data-fancybox='gallery2')
                img.imgByVova(src='img/news/news.png', alt='[[+pagetitle]]')
                span.news-pubdate 14.12.2019
              .news-description
                h3.news-title Заголовок статьи
                .news-desc
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.read_more Подробнее
            li.single-news
              a.news-img__wrapper(href='img/news/news.png', data-fancybox='gallery3')
                img.imgByVova(src='img/news/news.png', alt='[[+pagetitle]]')
                span.news-pubdate 14.12.2019
              .news-description
                h3.news-title Заголовок статьи
                .news-desc
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.read_more Подробнее
            li.single-news
              a.news-img__wrapper(href='img/news/news.png', data-fancybox='gallery4')
                img.imgByVova(src='img/news/news.png', alt='[[+pagetitle]]')
                time.news-pubdate 14.12.2019
              .news-description
                h3.news-title Заголовок статьи
                .news-desc
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.read_more Подробнее
            li.single-news
              a.news-img__wrapper(href='img/news/news.png', data-fancybox='gallery5')
                img.imgByVova(src='img/news/news.png', alt='[[+pagetitle]]')
                time.news-pubdate 14.12.2019
              .news-description
                h3.news-title Заголовок статьи
                .news-desc
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.read_more Подробнее
            li.single-news
              a.news-img__wrapper(href='img/news/news.png', data-fancybox='gallery6')
                img.imgByVova(src='img/news/news.png', alt='[[+pagetitle]]')
                time.news-pubdate 14.12.2019
              .news-description
                h3.news-title Заголовок статьи
                .news-desc
                  p
                    | Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                button.read_more Подробнее
          ul.pagination.custom-pag
            li.prev-page.active
              a(href='#rofl')
            li.page-num.active
              a(href='#rofl') 01
            li.page-num.always_not_active.slash
              a(href='#rofl') 10
            li.next-page
              a(href='#rofl')
    footer.footer-site
        .container.flex-between
            .copy
                .footer-logo
                    img(src="/img/logotips/agrohim.png", alt="АгроХимПрогресс")
                span.copy-text Все права защищены
            .designed
                a(href="https://globalm.kz")
                    img(src="/img/logotips/gm.png", alt="GlobalMedia")
block scripts
    script(src='js/news.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")